  <base href="{{compiler.publicPath}}">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    {{#if compiler.isProduction}}
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css">
    <link rel="stylesheet" href="bundle-{{compiler.hash}}.css">
    {{/if}}

    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimal-ui">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png?v=m2d2665p9O">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="favicon/manifest.json?v=m2d2665p9O">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg?v=m2d2665p9O" color="#5bbad5">
    <link rel="shortcut icon" href="favicon/favicon.ico">



    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-title" content="Antoine Puel">
    <meta name="application-name" content="Antoine Puel">
    <meta name="application-name" content="Antoine Puel">
    <meta name="format-detection" content="telephone=no">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="google" content="notranslate">
    <meta name="googlebot" content="index,follow">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml?v=m2d2665p9O">
    <meta name="msapplication-starturl" content="/">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="msapplication-TileColor" content="#2a2a2f">
    <meta name="msapplication-window" content="width=1024;height=768">
    <meta name="robots" content="index,follow,noodp">
    <meta name="theme-color" content="#ffffff">

    <link rel="me" href="https://twitter.com/antoinedotcool" type="text/html">
    <link rel="me" href="mailto:bonjour@antoine.cool">

    <link rel="index" href="http://antoine.cool" title="">

    <meta property="og:url" content="http://antoine.cool">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Antoine Puel">
    <meta property="og:image" content="http://antoine.cool/assets/images/cover.png">
    <meta property="og:description" content="Portfolio d'Antoine Puel">
    <meta property="og:site_name" content="Antoine Puel">
    <meta property="og:locale" content="fr_FR">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@antoinedotcool">
    <meta name="twitter:creator" content="@antoinedotcool">
    <meta name="twitter:url" content="http://antoine.cool">
    <meta name="twitter:title" content="Antoine Puel">
    <meta name="twitter:description" content="Portfolio d'Antoine Puel">
    <meta name="twitter:image" content="http://antoine.cool/assets/images/cover.png">