<header>
    <div id="left">
        <a href='index.html'>Antoine Puel</a>
    </div>
    <div id="right">
        <a href='index.html'>Projets&nbsp;</a>
        <a href='about.html'>&nbsp;À&nbsp;propos</a>
    </div>
</header>