<!DOCTYPE html>
<html>
<head>
    {{> head.hbs}}
</head>
<body>
  <main>
      {{> header.hbs}}
      <section class="projects">
         <ul>
          {{#each project}}
            <li>{{this.date}} - <a href='{{this.route}}'>{{this.name}}</a></li>
          {{/each}}
         </ul>
      </section>
      {{> footer.hbs}}
  </main>
  <script src="stickyfill.js"></script>
  <script src="stickyfill.min.js"></script>
  <script src="bundle-{{compiler.hash}}.js"></script>
</body>
</html>