<!DOCTYPE html>
<html>
<head>
    {{> head.hbs}}
</head>
<body>
  <main>
      {{> header.hbs}}
      <section class="main-project">
         <ul>
            <li>2016 - <a href='#'>eyebro</a></li>
            <li>2016 - <a href='#'>skeleton+kinect</a></li>
            <li>2016 - <a href='#'>one thing leading to another</a></li>
            <li>2016 - <a href='#'>dusangneuf-osangsett</a></li>
            <li>2016 - <a href='#'>laurent de la house</a></li>
            <li>2015 - <a href='#'>whistleblower</a></li>
            <li>2015 - <a href='#'>j'ai du bon data</a></li>
            <li>2015 - <a href='#'>switch</a></li>
            <li>2013 - <a href='#'>iso-iso</a></li>
         </ul>
      </section>
      {{> footer.hbs}}
  </main>
  <script src="bundle-{{compiler.hash}}.js"></script>
</body>
</html>