<!DOCTYPE html>
<html>
<head>
    {{> head.hbs}}
</head>
<body>
  <main>
      {{> header.hbs}}
      <section class="main-project">
         <p>bravo</p>
      </section>
      {{> footer.hbs}}
  </main>
  <script src="bundle-{{compiler.hash}}.js"></script>
</body>
</html>