<!DOCTYPE html>
<html>
<head>
    {{> head.hbs}}
</head>
<body>
  <main>
      {{> header.hbs}}
      <section class="main-project">
      	<div class="title">
	      	<h2>nom du projet</h2>
	      	<div class="nav">
	      	<a href='#'><&nbsp;&nbsp;</a><a href='#'>&nbsp;&nbsp;></a>
	      	</div>
      	</div>
        <div class="preview">
        	<img>
        </div>
        <section class="description">
        	<p>{{message}}</p>
        	<p>{{message}}</p>
        	<p>{{message}}</p>
        </section>
        <section class="project-images">
        	<img src="#" alt="eyebro-1">
        	<img src="#" alt="eyebro-2">
        	<img src="#" alt="eyebro-3">
        </section>
      </section>
      {{> footer.hbs}}
  </main>
  <script src="bundle-{{compiler.hash}}.js"></script>
</body>
</html>