@font-face {
    font-family: HK-Grotesk;
    src: url(fonts/HK-Grotesk-Regular/hkgrotesk-regular-webfont.woff);
}

@font-face {
    font-family: Terminal-Grotesque;
    src: url(fonts/Terminal-Grotesque/terminal-grotesque-webfont.woff)
 }

@font-face {
    font-family: Terminal-Grotesque-Open;
    src: url(fonts/Terminal-Grotesque-Open/terminal-grotesque_open.woff)
}

// body
//   position absolute


main
  display flex
  flex-direction column
  justify-content space-between
  height 100vh
  // margin 0
  // padding 50px 10vw 50px 10vw
  
header 
  display flex
  flex-direction row
  justify-content space-around
  align-items center
  height 10vh
  margin 0px 50px 100px 50px
  
footer 
  display flex
  flex-direction row
  justify-content flex-end
  align-items center
  height 10vh
  margin 50px 50px 0px 50px
 
  
.main-project {
  display flex
  flex-direction column
  justify-content center
  align-items flex-end
  padding-right 10vw
}

a, p
  font-family HK-Grotesk, Helvetica, sans-serif
  color #333
  line-height 1.40
  
ul
  font-family Terminal-Grotesque-Open, Helvetica, sans-serif
  font-weight 100
  font-size 3em
  color #000
  line-height 1
  list-style none
  text-align right
ul a 
  font-family Terminal-Grotesque, Helvetica, sans-serif
  

a:hover {
  color #6AFFBA;
    }
    
a {
    color: #000;
    text-decoration: none;
}
