/* ---- Import HK-Grotesk ---- */

@font-face {
    font-family: HK-Grotesk;
    src: url(fonts/HK-Grotesk-Regular/hkgrotesk-regular-webfont.woff);
}

@font-face {
    font-family: HK-Grotesk-Italic;
    src: url(fonts/HK-Grotesk-Italic/hkgrotesk-italic-webfont.woff);
}

@font-face {
    font-family: HK-Grotesk-Bold;
    src: url(fonts/HK-Grotesk-Bold/hkgrotesk-bold-webfont.woff);
}

/* ---- Import Terminal Grotesque ---- */

@font-face {
    font-family: Terminal-Grotesque;
    src: url(fonts/Terminal-Grotesque/terminal-grotesque-webfont.woff)
 }

@font-face {
    font-family: Terminal-Grotesque-Open;
    src: url(fonts/Terminal-Grotesque-Open/terminal-grotesque_open.woff)
}


// body
//   position absolute


main
  display flex
  flex-direction column
  justify-content space-between
  //height 100vh
  // margin 0
  // padding 50px 10vw 50px 10vw
  
header 
  display flex
  flex-direction row
  justify-content space-around
  align-items center
  height 5vh
  // top right bottom left
  margin 5vh 2.5vw 5vh 5vw
  
#left
  display flex
  flex-direction row
  justify-content flex-start
  width 66.6vw
#left > a
  font-family HK-Grotesk-Bold
  
  

#right
  display flex
  flex-direction row
  justify-content space-around
  width 33.3vw
  
  
footer 
  display flex
  flex-direction row
  justify-content flex-end
  align-items center
  height 5vh
  margin 2.5vw 4vw 0px 2.5vw
footer a
  font-family HK-Grotesk-Italic
 
  
.main-project {
  display flex
  flex-direction column
  justify-content flex-start
  align-items flex-end
  margin-right 8vw
  //overflow-y scroll
}

a, p
  font-family HK-Grotesk, Helvetica, sans-serif
  color #333
  line-height 1.40
  
ul
  font-family Terminal-Grotesque-Open, Helvetica, sans-serif
  font-weight 100
  font-size 3em
  color #000
  line-height 1
  list-style none
  text-align right
ul a 
  font-family Terminal-Grotesque, Helvetica, sans-serif
  

a:hover {
  color #6AFFBA;
    }
    
a:active {
  color #6AFFBA;
  font-family HK-Grotesk-Bold
}
    
a {
    color: #000;
    text-decoration: none;
}
