webfont('WorkSans', 'WorkSans-Regular')
webfont('TerminalGrotesque', 'terminal-grotesque-webfont')
webfont('GapSans', 'gapsans-webfont')
webfont('GapSans-Bold', 'gapsansbold-webfont')
webfont('GapSans-Black', 'gapsansblack-webfont')

font_main()
  font-family 'GapSans-Bold', 'Arial', sans-serif
  color colors_text
  font-weight 10000
  font-size 24px
  +media(bigdesktop)
    font-size 80px
  +media(mobile)
    font-size 40px
