webfont('TerminalGrotesque', 'terminal-grotesque-webfont')
webfont('HKGrotesk-Regular', 'hinted-HKGrotesk-Regular')
webfont('HKGrotesk-Italic', 'hinted-HKGrotesk-Italic')
webfont('HKGrotesk-Light', 'hinted-HKGrotesk-Light')
webfont('HKGrotesk-LightItalic', 'hinted-HKGrotesk-LightItalic')
webfont('HKGrotesk-Medium', 'hinted-HKGrotesk-Medium')
webfont('HKGrotesk-MediumItalic', 'hinted-HKGrotesk-MediumItalic')
webfont('HKGrotesk-Bold', 'hinted-HKGrotesk-Bold')
webfont('HKGrotesk-BoldItalic', 'hinted-HKGrotesk-BoldItalic')



font_main()
  font-family 'TerminalGrotesque', 'Arial', sans-serif
  color colors_text
  font-weight 0
  font-size 64px
  +media(bigdesktop)
    font-size 80px
  +media(mobile)
    font-size 40px
